
@{
    ViewBag.Title = "Register sales";
}

@model List<DTO.Models.Item>


<div class="salepage">
    <div class="order-lines">
        <h3>Order</h3>
        <table class="current-order">
            <tr>
                <th>Amount</th>
                <th>Item</th>
                <th>Price</th>
                <th>Total</th>
            </tr>

            @if (@ViewBag.order != null) {
                foreach (DTO.Models.OrderLine ol in ViewBag.order.OrderLines) {
                    <tr>
                        <td>@ol.Quantity</td>
                        <td>@ol.Item.Name</td>
                        <td>@ol.Item.Price kr.</td>
                        <td>@ol.GetTotal() kr.</td>
                    </tr>
                }
            }
        </table>
        <hr />

        @if (ViewBag.order != null) {
            <p style="text-align:right; font-weight:700">Total: @ViewBag.order.GetTotalSalePrice() kr.</p>
        }

        <button style="position:absolute; bottom:20px" onclick="location.href='@Url.Action("ResetOrder", "Sale")'">Reset</button>
        <button id="regButton" style="position:absolute; bottom:20px;right:20px">Register</button>


    </div>

    <div class="icons">
        <h2 style="text-align:left">Register Sale</h2>
        <table id="itemTable" style="border-style: dotted">
            @for (int i = 0; i < Model.Count; i += 5) {
                <tr class="icon-row">
                    @for (int j = i; j < i + 5; j++) {
                        if (j < Model.Count) {
                            <td>
                                @Html.DisplayFor(Model => Model[j], "ItemDisplay")
                            </td>
                        }
                        else {
                            <td></td>
                        }

                    }
                </tr>

            }

        </table>

    </div>
    <script>
        function salesAlertAndRedirect() {
            const orderLinesExist = @((ViewBag.order?.OrderLines?.Count > 0).ToString().ToLower());

            if (!orderLinesExist) {
                alert("Error: No items in order");
                return;
            }

            alert("Sale successfull");
            window.location.href = '@Url.Action("RegisterSale", "Sale")';
        }
        document.getElementById("regButton").addEventListener("click", salesAlertAndRedirect)
    </script>
</div>