
@{
    ViewBag.Title = "Register sales";
}

@model List<DTO.Models.Item>

<h2>Register Sales</h2>
<div class="salepage">
    <div class="order-lines">
        <h3>Order</h3>
        <table class="current-order">
            <tr>
                <th>Amount</th>
                <th>Item</th>
                <th>Price</th>
                <th>Total</th>
            </tr>

            @if (@ViewBag.order != null)
            {
                foreach (DTO.Models.OrderLine ol in ViewBag.order.OrderLines)
                {
                    <tr>
                        <td>@ol.Quantity</td>
                        <td>@ol.Item.Name</td>
                        <td>@ol.Item.Price kr.</td>
                        <td>@ol.GetTotal() kr.</td>
                    </tr>
                }
            }
        </table>
        <hr />
        
            @if (ViewBag.order != null) 
            {
                <p style="text-align:right; font-weight:700">Total: @ViewBag.order.GetTotal() kr.</p>
            }
        
        <button style="position:absolute; bottom:20px" onclick="location.href='@Url.Action("ResetOrder", "Sale")'">Reset</button>
        <button style="position:absolute; bottom:20px;right:20px" onclick="location.href='@Url.Action("RegisterSale", "Sale")'">Register</button>
    </div>
    
    <div class="icons">
        @foreach (var item in Model)
        {
            @Html.DisplayFor(Model => item, "ItemDisplay")
        }
    </div>
</div>