@using DTO.Models
@model Item

@*
    This partial view is used to update or create an item in the inventory.
    The action parameter is used to determine approriatly render the view for updating or adding an item.
    The action parameter is allso used to determine the form action.
*@

<div class="formDiv">
    @{
        string action = ViewBag.action;
        string header = (action == "UpdateItem") ? "EDIT" : "ADD";

     }

    <h2>@header</h2>
    @using (Html.BeginForm(action, "Item"))
    {
        @Html.EditorForModel()
        <br />
        <button Id="btn" name="" type="submit">OK</button>
    }

</div>

<style>
    .imgDiv {
        float: left;
        width: 50%;
    }

    .formDiv {
        float: left;
        width: 50%;
    }
</style>
<script>
    function editAlert() {
        alert("Edit successfull");
    }

    document.getElementById("btn").addEventListener("click", editAlert)

    $(document).ready(function () {
        $("#Quantity").change(function () {
            var quantity = parseInt($(this).val());
            if (isNaN(quantity) || quantity < 0) {
                alert("Quantity must be a positive number");
                $(this).val(@Model.Quantity);
            }
        });

        $("#Price").change(function () {
            var price = parseFloat($(this).val());
            if (isNaN(price) || price <= 0) {
                alert("Price must be a positive number");
                $(this).val(@Model.Price);
            }
        });

        $("#Name").change(function () {
            var name = $(this).val();
            if (name.length < 1) {
                alert("Name must consist of one or more symbols");
                $(this).val("@Model.Name");
            }
        });
    });
</script>