@{
    string action = ViewBag.action;
    string header = (action == "UpdateItem") ? "EDIT" : "ADD";
}


<h2>@header</h2>
@using (Html.BeginForm(action, "Item"))
{
    @Html.EditorForModel()
    <br />
    <button Id="btn" name="" type="submit">OK</button>
}

<style>
    .imgDiv {
        float: left;
        width: 50%;
    }

    .formDiv {
        float: left;
        width: 50%;
    }
</style>
<script>
    function editAlert() {
        alert("Edit successfull");
    }

    document.getElementById("btn").addEventListener("click", editAlert)

    //Input validation for the Html@EditorForModel
    $(document).ready(function () {
        $("#Quantity").change(function () {
            var quantity = parseInt($(this).val());
            if (isNaN(quantity) || quantity < 0) {
                alert("Quantity must be a positive number");
                $(this).val(@Model.Quantity);
            }
        });

        $("#Price").change(function () {
            var priceString = $(this).val();
            priceString = priceString.toString().replace(",", ".");
            var price = parseFloat(priceString);
            if (isNaN(price) || price <= 0) {
                alert("Price must be a positive number");
                $(this).val(@Model.Price);
            } else {
                priceString = price.toFixed(2);
                alert(priceString)
                $(this).val(priceString)
            }
        });

        $("#Price").on('input', function () {
            var value = $(this).val();
            var regex = /^[0-9,]*$/;
            if (!regex.test(value)) {
                alert("Only numbers and commas are allowed");
                $(this).val(value.replace(/[^0-9,]/g, ''));
            }
        });

        $("#Name").change(function () {
            var name = $(this).val();
            if (name.length < 1) {
                alert("Name must consist of one or more symbols");
                $(this).val("@Model.Name");
            }
        });
    });
</script>